<%- include("template/cabecera", {tituloWeb: 'Pagina de servicios' }) %>


       <h1>Titulo de mi sitio web Servicios</h1>
       <h2>
              <%= tituloServicio %>
       </h2>


       <%- include("template/footer") %>